html, body {

    font-family: "Montserrat", sans-serif;
    margin: 0 auto;

}

nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; 
    position: fixed; 
    overflow: auto; 

}

nav ul li {

    display: inline;
    width: 60px;


}